@charset "UTF-8";

@media screen and (min-width: 768px) { /* tablets e maiores */
    #burger {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        width: 150px;
    }

    main {
        width: 786px;
    }
}